<form name="userForm" novalidate>
    <div class="form-group">
        <label for="name">{{'userForm.label.name' | translate}} : </label>
        <input type="text" class="form-control" id="name" name="name" ng-model="user.name" required>
        <div class="alert-danger" data-ng-show="!userForm.name.$valid && userForm.name.$touched" translate="userForm.message.nameRequired">
        </div>
    </div>
    <div class="form-group">
        <label for="email">{{'userForm.label.email' | translate}} : </label>
        <input type="email" class="form-control" id="email" name="email" ng-model="user.email">
        <div class="alert-danger" data-ng-show="!userForm.email.$valid && userForm.email.$touched" translate="userForm.message.invalidEmail">
        </div>
    </div>
    <div class="form-group">
        <label for="phone">{{'userForm.label.phone' | translate}} : </label>
        <input type="text" ng-pattern="/^[0-9]*$/" class="form-control" id="phone" name="phone" ng-model="user.phone">
        <div class="alert-danger" data-ng-show="userForm.phone.$error.pattern" translate="userForm.message.invalidPhone">
        </div>
    </div>
    <div class="form-group">
        <label for="city">{{'userForm.label.city' | translate}} : </label>
        <input type="text" class="form-control" id="city" name="city" ng-model="user.city">
    </div>
    <button type="button" class="btn btn-primary" ng-if="!isEdit" ng-click="createUser()" ng-disabled="userForm.$invalid" translate="userForm.button.save"></button>
    <button type="button" class="btn btn-primary" ng-if="isEdit" ng-click="updateUser()" ng-disabled="userForm.$invalid" translate="userForm.button.update"></button>
    <a href="#!/users" class="btn btn-default" translate="userForm.button.cancel"></a>
</form>